<div class="container mt-5 mt-md-3">
  <div class="tab-content wow fadeIn animated" id="myTabContent">
    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
      <div class="row product-grid-4">
        <% @products.each do |product| %>
          <div class="col-lg-3 col-md-3 col-12 col-sm-6 mb-3">
            <div class="product-cart-wrap">
              <div class="product-img-action-wrap">
                <div class="product-img" style="height: 5cm;">
                  <a href="<%= product_path(product) %>">
                    <%= image_tag product.image.url(:medium), class: "default-img", alt: "", style: "max-width: 100%; max-height: 100%;" %>
                    <%= image_tag product.image.url(:thumb), class: "", alt: "", style: "max-width: 100%; max-height: 100%;" %>
                  </a>
                </div>
              </div>
              <div class="product-content-wrap" style="height: 5cm;">
                <div class="product-category">
                  <a href="<%= product_path(product) %>">
                    <%= product.title %>
                  </a>
                  <h2>
                    <a href="<%= product_path(product) %>">
                      <%= product.category.name %>
                    </a>
                  </h2>
                </div>
                <h4>
                  <a href="<%= product_path(product) %>">
                    <%= product.description %>
                  </a>
                </h4>
                <div class="rating-result" title="90%">
                  <span>
                    <span>86%</span>
                  </span>
                </div>
                <div class="product-price">
                  <span style="color: green;">
                    <%= number_to_currency(product.price, unit: '₹') %>
                  </span>
                  <!-- <span class="old-price">$245.8</span>
                                <span style="color: green;">$2465</span> -->
                </div>
                <div class="product-action-1 show">
                  <%# <%= link_to "<i class='fi-rs-shopping-bag-add'></i>".html_safe, add_to_cart_path(@product), method: :put, class: "action-btn hover-up", aria: { label: "Add To Cart" } %> 
                  <% if product.stock_quantity > 0 && product.stock_quantity - product.reserved_quantity > 0 %>
                    <%= button_to add_to_cart_custom_path(product_id: product.id), method: :put, class: "add-to-cart-btn", style: "display: flex; align-items: center; justify-content: center; background-color: #333; color: #fff; border: none; border-radius: 5px; padding: 10px;" do %>
                      <i class="fi-rs-shopping-bag-add" style="color: #fff;"></i>
                    <% end %>
                  <% else %>
                    <%= button_to add_to_cart_custom_path(product_id: product.id), method: :put, class: "add-to-cart-btn", style: "display: flex; align-items: center; justify-content: center; background-color: red; color: #fff; border: none; border-radius: 5px; padding: 10px;", onclick: "alert('Sorry , the product is out of stock!'); return false;" do %>
                      <i class="fi-rs-shopping-bag-add" style="color: #fff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



    <style>
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .mt-md-3 {
      margin-top: 1rem !important;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .mt-md-3 {
      margin-top: 1.5rem !important;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .mt-md-3 {
      margin-top: 2rem !important;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .mt-md-3 {
      margin-top: 2.5rem !important;
    }
  }
</style>